<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/admin.css">
    <title>Scheduled Calls</title>
</head>
<body>
    <h1>Scheduled Calls</h1>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <% scheduledCalls.forEach(function(call) { %>
                <tr>
                    <td><%= call.name %></td>
                    <td><%= call.email %></td>
                    <td><%= call.phone %></td>
                    <td><%= call.date %></td>
                    <td><%= call.time %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    
    <div class="plus">
        
        <a href="/">Back to Home</a>
    </div>

</body>
</html>
